n8n-workflows/activation_email.json
{
  "name": "CelesteOS - Activation Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "celesteos/activation-email",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@celeste7.ai",
        "toEmail": "={{ $json.buyer_email }}",
        "subject": "Activate CelesteOS for {{ $json.yacht_name }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, sans-serif; background: #0f172a; color: #e2e8f0; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #1e293b; border-radius: 12px; padding: 40px; }\n    h1 { color: #f1f5f9; margin-top: 0; }\n    .btn { display: inline-block; background: #3b82f6; color: white; padding: 14px 28px; border-radius: 8px; text-decoration: none; margin: 20px 0; }\n    .yacht { color: #60a5fa; font-weight: 600; }\n    .footer { margin-top: 30px; color: #64748b; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Welcome to CelesteOS</h1>\n    <p>Your installation for <span class=\"yacht\">{{ $json.yacht_name }}</span> is ready to be activated.</p>\n    <p>Click the button below to complete setup:</p>\n    <a href=\"https://qvzmkaamzaqxpzbewjxe.supabase.co/functions/v1/activate?yacht_id={{ $json.yacht_id }}&token={{ $json.activation_token }}\" class=\"btn\">Activate CelesteOS</a>\n    <p>After activation, return to your Mac - the installer will complete automatically.</p>\n    <div class=\"footer\">\n      <p>This link expires in 24 hours.</p>\n      <p>If you didn't request this, please ignore this email.</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  }
}
