n8n-workflows/verify_2fa_workflow.json
{
  "name": "Verify 2FA Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-2fa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-verify",
      "name": "Webhook - Verify 2FA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Hash the input code\nconst crypto = require('crypto');\nconst inputCode = $json.code;\nconst codeHash = crypto.createHash('sha256').update(inputCode).digest('hex');\n\nreturn [{\n  json: {\n    user_id: $json.user_id,\n    code_hash: codeHash\n  }\n}];"
      },
      "id": "hash-code",
      "name": "Hash Input Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "twofa_codes",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            { "key": "user_id", "operator": "equals", "value": "={{ $json.user_id }}" },
            { "key": "code_hash", "operator": "equals", "value": "={{ $json.code_hash }}" },
            { "key": "purpose", "operator": "equals", "value": "login" },
            { "key": "used_at", "operator": "isNull" }
          ]
        }
      },
      "id": "query-2fa-code",
      "name": "Query 2FA Code",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-code-valid",
      "name": "Check Code Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if code expired\nconst expiresAt = new Date($json[0].expires_at);\nconst now = new Date();\n\nif (now > expiresAt) {\n  throw new Error('2FA code has expired');\n}\n\n// Check attempts\nif ($json[0].attempts >= $json[0].max_attempts) {\n  throw new Error('Too many failed attempts');\n}\n\nreturn [{json: $json[0]}];"
      },
      "id": "validate-code",
      "name": "Validate Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "twofa_codes",
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "used_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "mark-code-used",
      "name": "Mark Code Used",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate session token\nconst crypto = require('crypto');\nconst sessionToken = crypto.randomBytes(32).toString('hex');\n\nreturn [{\n  json: {\n    user_id: $json.user_id,\n    session_token: sessionToken,\n    expires_at: new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString() // 7 days\n  }\n}];"
      },
      "id": "generate-session",
      "name": "Generate Session Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "user_sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "session_token": "={{ $json.session_token }}",
            "expires_at": "={{ $json.expires_at }}",
            "ip_address": "={{ $('Webhook - Verify 2FA').item.json.headers['x-forwarded-for'] || '127.0.0.1' }}",
            "revoked": false
          }
        }
      },
      "id": "create-session",
      "name": "Create Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"session_token\": $json.session_token, \"user_id\": $json.user_id } }}"
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Invalid or expired 2FA code\" } }}"
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook - Verify 2FA": {
      "main": [[{ "node": "Hash Input Code", "type": "main", "index": 0 }]]
    },
    "Hash Input Code": {
      "main": [[{ "node": "Query 2FA Code", "type": "main", "index": 0 }]]
    },
    "Query 2FA Code": {
      "main": [[{ "node": "Check Code Valid", "type": "main", "index": 0 }]]
    },
    "Check Code Valid": {
      "main": [
        [{ "node": "Validate Code", "type": "main", "index": 0 }],
        [{ "node": "Respond - Error", "type": "main", "index": 0 }]
      ]
    },
    "Validate Code": {
      "main": [[{ "node": "Mark Code Used", "type": "main", "index": 0 }]]
    },
    "Mark Code Used": {
      "main": [[{ "node": "Generate Session Token", "type": "main", "index": 0 }]]
    },
    "Generate Session Token": {
      "main": [[{ "node": "Create Session", "type": "main", "index": 0 }]]
    },
    "Create Session": {
      "main": [[{ "node": "Respond - Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
